<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="./popup.js"></script>
    <title>Edit profiles</title>
</head>
<body>
    <h1>Profiles</h1>
    <ul id="profiles-list">

    </ul>
    <div id="profile-edit-form">
        <input type="text" name="name" id="name" placeholder="Profile Name"><br />
        <input type="text" name="email" id="email" placeholder="Email"><br />
        <input type="text" name="phone" id="phone" placeholder="Telefon"><br />
        <input type="text" name="regNr" id="regNr" placeholder="Reg nr."><br />
        <input type="text" name="kmDriven" id="kmDriven" placeholder="Kørte km"><br />
        <input type="text" name="workshop" id="workshop" placeholder="værksted"><br />
        <button type="submit">Add</button>
    </div>
</body>
</html>